#root {
  width: 100%;
}

.doc-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, 30px));
}

.doc-item {
  border: 0.5px solid #ccc;
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.doc-item.active {
  background-color: #e6e6e6;
}
